.navbar{
    display:flex;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: white;
    top: 100px;
}

.navbar > h5{
    margin-left: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    white-space: nowrap;
    color: #767676;
    cursor: pointer;
}
.navbar > h5:hover{
    color: black;
}
.topic--active{
    border-bottom: 2px solid black;
}