.result__title{
    padding:20px;
    margin-top: 60px;
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    }
    
.result__description{
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    padding:20px;
    max-width: 620px;
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.3;
    color: #111;
    }

    .design{
        margin-left:20px;
        font-size: 13px;
        line-height: 19px;
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
    }

    .support{
        margin-left :20px;
        display: flex;
        align-items: center;
        color: gray;
    }
    .microsoft__logo{
        margin-left:10px;
        object-fit: contain;
        height: 30px;
    }

    .results__top{
        display: flex;
    }
    
    .results__topRight{
        margin-left: 200px;
        margin-top: 60px;
        text-align: center;
        background-color:white;
        flex:1;
        border-radius:10px;
        border:lightgray solid 1px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 px;
        margin-bottom: 20px;
    }

    .alanor{
        margin-left:10px;
        fill: #d1d1d1;
        width: 18px;
        height: 18px;
        margin-right: 14px;
        backface-visibility: hidden;
    }

    .btn__submit{
        float:right;
        margin-top: 30px;
        background-color: black !important;
        color: lightgray !important;
        text-transform: inherit !important;
        width: 435px;
        align-self: right !important;
        cursor:pointer;
    }


    .submit__title{
       margin-left: 10px;
       color:white;
    }

    .unsplash__icon{
        object-fit: contain;
        height: 40px;
    }

    .status{
        display:flex;
        color:gray;
        margin-top:40px;
        margin-bottom: 10px;

    }

    .curator{
        display: flex;
        margin-top: 20px;
        color:gray;
        margin-bottom :10px;
    }

    .unsplash__icon{
        cursor:pointer;
    }

    .contributions{
        display: flex;
        margin-top: 20px;
        margin-bottom :10px;
        color:gray;
    }

    .contributors{
        margin-top: 20px;
        display: flex;
        color:gray;
        margin-bottom :10px;
    }

    .left__box{
        margin-left:20px;
    }
    .right__box{
        margin-right: 5px;
    }

    .box{
        display: flex;
        flex:1;
        justify-content: space-between;
    }

    .btn5{
        background-color: #c2ebd3 !important;
        color: black !important;
        padding: 1px 8px;
        border-radius: 4px;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        text-transform: inherit !important;

    }

    #circle {
        background: #3cb46e;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .strong{
        font-weight: bold;
        color:black;
    }

    .contrib__profile{
       display: inline-flex;
       border-radius: 50%;
       overflow: hidden;
       background-color: rgba(0,0,0,.1);
       border-style: none;
    }

    .contrib__profile__image{
        margin-left: 5px;
        margin-right: 5px;
        width: 16px;
        aspect-ratio: auto 16 / 16;
        height: 16px;
    }

